.nav {
    display: inline-flex;

    padding: 1em;
    background-color: #aba299;
}

.navbar {
    justify-content: center;
    display: inline-flex;
}

.nav-selected {
    display: inline-flex;
    justify-content: flex-start;
    padding: 1em;
    background-color: #b4916d;
}